$main-bg-color: #222;
$green-color: #00b285;
$black-color: #363636;
$grey-color2: #c9c9c9;
$grey-color1: #ababab;
$orange-color2: #cec7a6;
$orange-color1: #ffc165;

$cols: 12;
$cols-width: 65px;

* {
	box-sizing: border-box;
	outline: none;
	margin: 0;
	padding: 0;
	border: none;
}

button:hover {
	cursor: pointer;
	&::after {
		content: "";
		position: absolute;
	}
}

a {
	&,
	&:visited,
	&:checked,
	&:hover {
		text-decoration: none;
	}
}

ul {
	list-style: none;
}

li {
	span {
		color: $green-color;
	}
}

body {
	font-family: Inter, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: $grey-color2;
	padding-bottom: 60px;
	background-color: $main-bg-color;
}

.wrapper {
	margin: auto;
	max-width: 1110px;
}

h1 {
	font-weight: 600;
	font-size: 42px;
	line-height: 52px;
	color: $green-color;
	margin-bottom: 14px;
}
h2 {
	font-weight: 600;
	font-size: 36px;
	line-height: 42px;
	color: $grey-color2;
}

h3 {
	font-weight: 600;
	font-size: 32px;
	line-height: 42px;
	color: $green-color;
}

h4 {
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	color: $orange-color2;
	margin-bottom: 10px;
}

.action-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	padding: 8px 32px;
	background: $green-color;
	border-radius: 3px;
	font-weight: 700;
	font-size: 16px;
	line-height: 32px;
	width: fit-content;
	color: #ffffff;
	&.bordered {
		background: none;
		border: 2px solid $green-color;
		color: $green-color;
	}
}

.headline {
	display: grid;
	justify-content: space-between;
	grid-template-columns: repeat(12, 65px);
	column-gap: 30px;
	padding-top: 60px;
	height: fit-content;
	padding-bottom: 81px;
	&-text {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		grid-column: 1 / 7;
	}
	&-picture {
		height: 320px;
		width: 100%;
		grid-column: span 6;
		background: url("./../assets/coolguys.png"),
			linear-gradient(360deg, #00b285 3.73%, rgba(0, 178, 133, 0) 96.55%);
		background-size: contain, 540px 183px;
		background-repeat: no-repeat;
		background-position: center bottom, center bottom;
		border-radius: 10px;
	}
}

.competition-type {
	font-weight: 500;
	font-size: 16px;
	line-height: 14px;
	color: $orange-color1;
	padding: 8px 16px;
	width: fit-content;
	background: $black-color;
	border-radius: 3px;
}

main {
	display: grid;
	grid-template-columns: repeat(12, 65px);
	column-gap: 30px;
	row-gap: 24px;
	align-items: start;
}
.rules {
	grid-column: (span $cols * 2/3);
	display: grid;
	row-gap: 24px;
}

.additional {
	grid-column: 9 / span 4;
	display: flex;
	flex-direction: column;
	justify-self: end;
	&-date {
		padding: 10px 25px;
		border-radius: 5px;
		background-color: $black-color;
		font-weight: 700;
		font-size: 18px;
		line-height: 28px;
		color: #ffffff;

		span {
			font-weight: 500;
			color: $orange-color2;
		}
	}
	&-map {
		&__title {
			font-weight: 600;
			font-size: 24px;
			line-height: 32px;
			color: $orange-color2;
			position: absolute;
			bottom: 14px;
			left: 20px;
		}
		&__name {
			font-weight: 700;
			font-size: 16px;
			line-height: 20px;
			color: #fff;
		}
		&__info {
			position: relative;
			margin-bottom: 20px;
			margin-top: 24px;
		}
		&__img {
			background: url("./../assets/nuborezka.png");
			background-size: cover;
			background-repeat: no-repeat;
			width: 100%;
			height: 194px;
		}
	}
	button {
		align-self: end;
	}
}

.extra-info {
	font-style: italic;
	color: $grey-color1;
	&:not(:last-of-type) {
		margin-top: 12px;
		margin-bottom: 8px;
	}
}

.earning-rules-list {
	li:not(:first-of-type) {
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		color: $orange-color1;
	}
}

.award {
	grid-column: 1 / 13;
	&-list {
		display: grid;
		grid-template-columns: repeat(4, 3fr);
		column-gap: 30px;
		row-gap: 20px;
	}
	&-item {
		background: #363636;
		border-radius: 5px;
		padding: 14px 20px 16px;
		display: grid;
		gap: 4px;
		&__title {
			font-weight: 600;
			font-size: 20px;
			line-height: 24px;
			color: $green-color;
		}
		&__text {
			font-weight: 400;
			font-size: 24px;
			line-height: 32px;
			color: $orange-color1;
		}
	}
	.secret-award {
		grid-column: 1 / 5;
		padding: 14px 20px;
		&__title {
			color: $orange-color2;
			&:hover {
				cursor: pointer;
			}
		}
		&-content {
			height: 0;
			min-height: 0;
			overflow-y: hidden;
			transition: 0.2s ease;
		}
		&-content.active {
			min-height: unset;
			height: fit-content;
			padding: 10px 0;
			display: flex;
			align-items: start;
			gap: 20px;
			transition: 0.2s ease;
		}
	}
}

.sponsors {
	grid-column: 1 / 13;
	&-list {
		display: grid;
		grid-template-columns: repeat(4, 3fr);
		column-gap: 30px;
		row-gap: 20px;
	}
	&-item {
		background: #363636;
		border-radius: 5px;
		padding: 16px 20px;
		display: flex;
		align-items: center;
		gap: 16px;
		&__name {
			font-weight: 600;
			font-size: 20px;
			line-height: 24px;
			color: $green-color;
		}
	}
}
.form-tip {
	font-size: 12px;
	text-decoration: underline;
}
.sign-up {
	&-wrapper {
		background: rgba(43, 43, 43, 0.8);
		position: absolute;
		z-index: 9999;
		width: 100%;
		height: 100%;
		display: none;
		&.active {
			position: fixed;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	&__title {
		text-align: center;
		font-weight: 600;
		font-size: 32px;
		line-height: 42px;
		color: #c9c9c9;
		margin-bottom: 20px;
	}
	&-body {
		width: 460px;
		padding: 24px 32px;
		margin-top: 20vw;
		display: flex;
		flex-direction: column;
		background: #222222;
		box-shadow: 0px 0px 60px rgba(0, 178, 133, 0.3);
		border-radius: 5px;
		max-width: 480px;
		button {
			margin-top: 30px;
			align-self: center;
		}
		input,
		textarea {
			padding: 10px 16px;
			background: #363636;
			border-radius: 3px;
			font-weight: 400;
			font-size: 14px;
			line-height: 24px;
			color: #fff;
		}
		input[type="email"] {
			margin: 15px 0;
		}
		textarea {
			resize: none;
			height: 120px;
		}
		& > *::placeholder {
			font-family: "Inter";
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 24px;
			color: #b0b0b0;
		}
	}
}

@media screen and (max-width: 1150px) {
	$cols: 6;
	h1 {
		font-size: 32px;
		line-height: 115%;
	}
	h2 {
		font-size: 26px;
		line-height: 115%;
	}
	main,
	.headline {
		grid-template-columns: repeat($cols, $cols-width);
		justify-content: space-between;
		column-gap: unset;
	}
	.headline {
		&-picture {
			height: 280px;
			background-size: 90%, 100% 130px;
			grid-column: span ($cols / 2);
		}

		&-text {
			grid-column: span ($cols / 2);
		}
	}
	.rules {
		grid-column: span ($cols * (2/3));
	}
	.additional {
		width: 130%;
		grid-column: span ($cols * (1/3));
		&-date {
			font-size: 14px;
			padding: 8px 18px;
			line-height: 22px;
		}
		&-map__img {
			width: 100%;
			height: 154px;
		}
	}
	.award {
		&-item {
			&__text {
				font-size: 20px;
				line-height: 28px;
			}
		}
	}
	.award,
	.sponsors {
		grid-column: span $cols;
	}
	.wrapper {
		max-width: 920px;
		overflow: hidden;
	}
}

@media screen and (max-width: 940px) {
	.wrapper {
		max-width: 740px;
	}
	.competition-type {
		font-size: 12px;
	}
	h1,
	h3 {
		line-height: 110%;
		font-size: 28px;
		margin-bottom: 10px;
	}
	h2 {
		font-size: 24px;
	}
	h4,
	.additional-map__title {
		font-size: 20px;
	}
	.headline {
		&-text {
			gap: 20px;
		}
		&-picture {
			width: 110%;
			justify-self: end;
		}
	}
	.paragraph {
		&-info {
			font-size: 14px;
		}
	}
	.earning-rules-list li {
		font-size: 14px !important;
	}
	.additional {
		&-date {
			font-size: 12px;
			padding: 8px 18px;
			line-height: 22px;
		}
		&-map {
			&__info {
				margin-top: 18px;
				margin-bottom: 10px;
				img {
					width: 260px;
				}
			}
		}
	}
	.rules {
		row-gap: 10px;
	}
	.award {
		&-item {
			padding: 10px 16px 12px;
			&__text {
				font-size: 16px;
				line-height: 24px;
			}
		}
	}
}

@media screen and (max-width: 790px) {
	$cols: 6;
	.wrapper {
		max-width: 580px;
	}
	.headline {
		padding-bottom: 30px;
		&-text {
			grid-column: span $cols;
			text-align: center;
			align-items: center;
		}
		&-picture {
			grid-column: span $cols;
			grid-row: 3;
			height: 280px;
			background-position: center 10%, center bottom;
			background-size: 90%, 100% 130px;
			justify-self: unset;
			margin-top: 30px;
			width: 100%;
		}
		.action-btn {
			width: 100%;
		}
	}
	.additional {
		width: 100%;

		grid-column: 1 / span $cols;
		grid-row: 1;
		display: grid;
		grid-template-columns: repeat($cols, $cols-width);
		justify-content: space-between;
		grid-template-rows: repeat(3, auto);
		&-date {
			grid-column: span $cols;
			grid-row: 1 / 2;
			br:last-of-type {
				display: none;
			}
			span:last-of-type {
				margin-left: 10px;
			}
		}
		&-map__info {
			grid-column: span $cols;
			img {
				width: 100%;
			}
		}
		&-map__img {
			width: 100%;
			height: 200px;
			background-position: center -30px;
		}
		.action-btn {
			width: 100%;
			grid-row: 3;
			grid-column: span $cols;
		}
	}
	.secret-award {
		&-content {
			flex-wrap: wrap;
		}
	}
}

@media screen and (max-width: 620px) {
	$cols-width: 30px;
	$cols: 6;
	.rules {
		grid-column: span 6;
	}
	.wrapper {
		max-width: 460px;
		padding: 0 20px;
	}
	.headline {
		padding-top: 60px;
		padding-bottom: 30px;
		&-picture {
			background-position: center bottom;
			margin-top: 0;
			height: 260px;
			background-size: 80%, 100% 30vw;
		}
	}

	.sign-up {
		&-body {
			width: initial;
			padding: 18px 24px;
			button {
				margin-top: 20px;
			}
		}
		input {
			&::placeholder {
				font-size: 14px;
			}
		}
		&__title {
			font-size: 28px;
		}
	}
	main,
	.headline,
	.additional {
		grid-template-columns: repeat($cols, $cols-width);
		justify-content: space-between;
		column-gap: unset;
	}
	.award {
		&-list {
			grid-template-columns: repeat(2, auto);
			grid-template-rows: repeat(3, auto);
		}
		&-item {
			.secret-award__title {
				width: fit-content;
			}
			&:first-of-type,
			&:nth-of-type(2) {
				grid-column: span 1;
				grid-row: 1;
			}
			&:nth-of-type(4),
			&:nth-of-type(3) {
				grid-column: span 1;
				grid-row: 2;
			}
			&:last-of-type {
				grid-column: span 2;
				grid-row: 3;
			}
		}
	}
}

@media screen and (max-width: 420px) {
	.headline {
		&-picture {
			width: 100%;
			height: 50vw;
		}
	}
	.additional {
		&-date {
			span:last-of-type {
				margin: 0;
			}
			br:last-of-type {
				display: initial;
			}
		}
	}

}

@media screen and (max-width: 360px) {
	.sign-up  {
		&-body {
			width: 90%;
		}
	}
}

// TODO: Separate background and foreground of headline img
// TODO: Make .additional and .headline-picture full-width on view width less than 820px
// TODO: Make popup script
// TODO: Make .secret script and add some content here
// TODO: Finish mobile adaptation
